In [157]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [158]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN'])
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [159]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [160]:
# STATUS and SPECIAL CONSIDERATIONS don't seem to be useful so I dropped them
application_df = application_df.drop(columns=['STATUS', 'SPECIAL_CONSIDERATIONS'])
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1

In [161]:
# Look at NAME value counts for binning
name_counts = application_df['NAME'].value_counts()
name_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [162]:
name_counts[name_counts > 10]

PARENT BOOSTER USA INC                                                    1260
TOPS CLUB INC                                                              765
UNITED STATES BOWLING CONGRESS INC                                         700
WASHINGTON STATE UNIVERSITY                                                492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                            408
                                                                          ...
USA SWIMMING INC                                                            11
SIGMA ALPHA OMEGA CHRISTIAN SORORITY INC                                    11
SOCIETY FOR PRESERVATION & ENCOURMT OF BARBERSHOP QUARTET SINGING AMER      11
SONS OF ITALY IN AMERICA                                                    11
FELLOWSHIP OF CHRISTIAN COWBOYS INC                                         11
Name: NAME, Length: 204, dtype: int64

In [163]:
names_to_replace = list(name_counts[name_counts <= 10].index)

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name, "Other")
    
# # Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                     21202
PARENT BOOSTER USA INC                                                     1260
TOPS CLUB INC                                                               765
UNITED STATES BOWLING CONGRESS INC                                          700
WASHINGTON STATE UNIVERSITY                                                 492
                                                                          ...
AMERICAN POSTAL WORKERS UNION                                                11
SOCIETY FOR PRESERVATION & ENCOURMT OF BARBERSHOP QUARTET SINGING AMER       11
SIGMA ALPHA OMEGA CHRISTIAN SORORITY INC                                     11
FINANCIAL PLANNING ASSOCIATION                                               11
SLOW FOOD U S A INC                                                          11
Name: NAME, Length: 205, dtype: int64

In [164]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df['APPLICATION_TYPE'].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [165]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts < 100].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [166]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [167]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [170]:
# Convert categorical data to numeric with `pd.get_dummies`
dummie_data = pd.get_dummies(application_df)
dummie_data

,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,6692,1,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,142590,1,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34295,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34296,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34297,5000,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34298,36500179,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [171]:
# Split our preprocessed data into our features and target arrays
X = dummie_data.drop(columns=['IS_SUCCESSFUL']).values
y = dummie_data['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [172]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [173]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
num_input_features = len(X_train[0])
layer_1_nodes = 100
layer_2_nodes = 30
layer_3_nodes = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=layer_1_nodes, 
                          input_dim=num_input_features, 
                          activation='relu')
)

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=layer_2_nodes, 
                          input_dim=layer_1_nodes, 
                          activation='sigmoid')
)

# Third hidden layer
nn.add(
    tf.keras.layers.Dense(units=layer_3_nodes, 
                          input_dim=layer_2_nodes, 
                          activation='sigmoid')
)

# Output layer
nn.add(
    tf.keras.layers.Dense(units=1, 
                          input_dim=layer_3_nodes, 
                          activation='sigmoid')
)

# Check the structure of the model
nn.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_16 (Dense)            (None, 100)               24700

 dense_17 (Dense)            (None, 30)                3030

 dense_18 (Dense)            (None, 10)                310

 dense_19 (Dense)            (None, 1)                 11

=================================================================
Total params: 28,051
Trainable params: 28,051
Non-trainable params: 0
_________________________________________________________________

In [174]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [175]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5072 - accuracy: 0.7619
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4587 - accuracy: 0.7806
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4502 - accuracy: 0.7842
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4464 - accuracy: 0.7855
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4433 - accuracy: 0.7867
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4416 - accuracy: 0.7876
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4399 - accuracy: 0.7889
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4384 - accuracy: 0.7893
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4371 - accuracy: 0.7886
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4362 - accuracy: 0.7890
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4355 - accuracy: 0.7893
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4348 - accuracy: 0.7889
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4339 - accuracy: 0.7902
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4330 - accuracy: 0.7906
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4325 - accuracy: 0.7896
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4318 - accuracy: 0.7905
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4314 - accuracy: 0.7916
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4307 - accuracy: 0.7924
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4301 - accuracy: 0.7907
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4298 - accuracy: 0.7911
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4292 - accuracy: 0.7911
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4289 - accuracy: 0.7910
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4284 - accuracy: 0.7932
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4279 - accuracy: 0.7924
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4278 - accuracy: 0.7922
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4272 - accuracy: 0.7936
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4269 - accuracy: 0.7933
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4261 - accuracy: 0.7933
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4262 - accuracy: 0.7924
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4257 - accuracy: 0.7937
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4250 - accuracy: 0.7937
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4255 - accuracy: 0.7945
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4249 - accuracy: 0.7937
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4245 - accuracy: 0.7930
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4239 - accuracy: 0.7940
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4235 - accuracy: 0.7940
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4236 - accuracy: 0.7941
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4236 - accuracy: 0.7953
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4234 - accuracy: 0.7941
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4227 - accuracy: 0.7944
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4229 - accuracy: 0.7943
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4224 - accuracy: 0.7949
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4226 - accuracy: 0.7949
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4222 - accuracy: 0.7954
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4221 - accuracy: 0.7959
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4217 - accuracy: 0.7957
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4216 - accuracy: 0.7962
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4217 - accuracy: 0.7956
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4212 - accuracy: 0.7950
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4208 - accuracy: 0.7954
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4210 - accuracy: 0.7957
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4208 - accuracy: 0.7960
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4208 - accuracy: 0.7957
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4207 - accuracy: 0.7961
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4203 - accuracy: 0.7963
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4204 - accuracy: 0.7965
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4204 - accuracy: 0.7959
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4198 - accuracy: 0.7960
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4199 - accuracy: 0.7966
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4195 - accuracy: 0.7970
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4195 - accuracy: 0.7967
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4198 - accuracy: 0.7967
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4195 - accuracy: 0.7963
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4195 - accuracy: 0.7965
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4194 - accuracy: 0.7974
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4190 - accuracy: 0.7966
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4190 - accuracy: 0.7973
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4185 - accuracy: 0.7964
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4191 - accuracy: 0.7974
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4188 - accuracy: 0.7981
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4190 - accuracy: 0.7973
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4186 - accuracy: 0.7973
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4187 - accuracy: 0.7968
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4190 - accuracy: 0.7970
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4185 - accuracy: 0.7975
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4185 - accuracy: 0.7976
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4185 - accuracy: 0.7973
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4182 - accuracy: 0.7979
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4184 - accuracy: 0.7973
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4179 - accuracy: 0.7977
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4183 - accuracy: 0.7985
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4181 - accuracy: 0.7974
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4180 - accuracy: 0.7974
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4181 - accuracy: 0.7979
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4178 - accuracy: 0.7976
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4177 - accuracy: 0.7979
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4178 - accuracy: 0.7980
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4177 - accuracy: 0.7980
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4177 - accuracy: 0.7981
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4178 - accuracy: 0.7980
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4178 - accuracy: 0.7978
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4177 - accuracy: 0.7986
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4172 - accuracy: 0.7976
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4177 - accuracy: 0.7977
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4176 - accuracy: 0.7975
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4176 - accuracy: 0.7981
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4178 - accuracy: 0.7982
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4173 - accuracy: 0.7983
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4171 - accuracy: 0.7980
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4172 - accuracy: 0.7979

In [176]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4609 - accuracy: 0.7820 - 505ms/epoch - 2ms/step
Loss: 0.4609195590019226, Accuracy: 0.7820408344268799

In [177]:
# Export our model to HDF5 file
nn.save('AlphabetSoup_Optimization2.h5')